<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>등록페이지</title>
    <style>
        body {
            text-align: left;
        }

        ul {
            list-style:none;
        }
    </style>
</head>
<body>
    <h1>게시판 글 등록</h1>

    <form action="/enrollpage" method="post">
        <ul>
            <li>
                제목 : <input type="text" name="title" />
            </li>
            <li>
                내용 : <input type="text" name="content"/>
            </li>
        </ul>
        <p>
            <input type="submit" value="등록하기"/>
        </p>
    </form>
</body>
</html>