<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.css" media="all" />
    <meta charset="UTF-8" />
    <title>게시판 Index</title>
    <style>
        form {
            text-align: right;
        }

        ul {
            list-style:none;
        }
    </style>
</head>
<body>
    <h1>게시판 테스트</h1>
    <table class = "table table-hover">
        <thead>
        <tr>
            <th>제목</th>
            <th>내용</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${list}"><!--/받아온 list만큼 each를 돌리면서-->
                <td><a th:href="@{detailpage(id=${item.getId()})}" th:text="${item.getTitle()}"></a></td><!--/이 게시물의 상세페이지를 보기 위해 title을 a태크로 만듬-->
                <td th:text="${item.getContent()}"></td><!--/그 list 안에 게시물 갯수만큼 게시물 부분 만듬-->
            </tr>
        </tbody>
    </table>
    <form action="/enrollpage" method="get">
        <p>
            <input type="submit" value="등록하기"/> <!--/버튼 클릭시 HelloController의 등록페이지로 연결하기 위한 리퀘스트 매핑으로 감-->
        </p>
    </form>
</body>
</html>